<div class="w-full border-b border-black marquee-default">
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
    <span class="font-vt text-sm inline-block mr-4">Margin</span>
</div>
<div class="max-w-3xl mx-auto py-8 px-4 lg:px-0">
    <div class="border border-black p-4 relative">
        <h1 class="font-roboto text-3xl md:text-4xl lg:text-5xl sm:text-lg">{name}</h1>
        <h6 class="font-roboto text-xl mt-4 mb-2">Project Description</h6>
        <p class="font-nunito text-md">{description}</p>
        <div class="absolute bg-custom-red px-1 border border-black" style="top: -15px; left: -30px; text-md">
            Header 1
        </div>
    </div>
</div>
<div class="grid grid-cols-[3.5rem_minmax(0,1fr)_3.5rem] bg-zinc-700 text-white">
    <div class="border-t border-b border-black"></div>
    <div class="col-start-2 col-end-3 border border-black">     
        <div class="p-4 flex flex-col items-center justify-center">
            <h1 class="text-nunito">Important Information Goes Here!</h1>
        </div>
    </div>
    <div class="border-t border-b border-black"></div>
</div>
<div class="grid grid-cols-[3.5rem_minmax(0,1fr)_3.5rem]">
    <div class="bg-zinc-700"></div>
    <div class="col-start-2 col-end-3 border-l border-r border-black bg-zinc-100">
        <div class="bg-build-white col-build-2 relative flex justify-center items-center px-1 ">
            <div id="pixel-layout" class="grid">
            </div>
            <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center">
                <img id="prototype-image"  src="/static/images/concept.svg" class="centered-image" style="width: 300px; height: 300px;">
            </div>
        </div>
    </div>
    <div class="bg-zinc-700"></div>
</div>
<div class="grid grid-cols-[3.5rem_minmax(0,1fr)_minmax(0,1fr)_minmax(0,1fr)_minmax(0,1fr)_3.5rem] bg-zinc-700 text-white">
    <div class="border-t border-black"></div>
    <div class="col-start-2 col-end-3 border border-b-0 border-black">     
        <div id="concept" data-value="selected" class="p-4 flex flex-col items-center justify-center bg-custom-red">
            <span class="text-nunito">Concept</span>
        </div>
    </div>
    <div class="col-start-3 col-end-4 border border-b-0  border-l-0 border-black">     
        <div id="cad-designed" data-value="not-selected" class="p-4 flex flex-col items-center justify-center">
            <span class="text-nunito">CAD Designed</span>
        </div>
    </div>
    <div class="col-start-4 col-end-5 border border-l-0 border-b-0 border-black">     
        <div id="prototype" data-value="not-selected" class="p-4 flex flex-col items-center justify-center">
            <span class="text-nunito">Prototype</span>
        </div>
    </div>
    <div class="col-start-5 col-end-6 border border-l-0 border-b-0 border-black">     
        <div id="version-1" data-value="not-selected" class="p-4 flex flex-col items-center justify-center">
            <span class="text-nunito">Version 1</span>
        </div>
    </div>
    <div class="border-t border-black"></div>
</div>
<div class="grid grid-cols-[3.5rem_minmax(0,1fr)_minmax(0,1fr)_3.5rem]  bg-zinc-700 text-white">
    <div class="border-t border-b border-black"></div>
    <div class="col-start-2 col-end-3 border border-black">     
        <div class="p-4 flex flex-col items-center justify-center">
            <a href="{github}">
                <span class="text-nunito">View source code</span>
            </a>
        </div>
    </div>
    <div class="col-start-3 col-end-4 border border-l-0 border-black">     
        <div class="p-4 flex flex-col items-center justify-center">
            <a href="{demo}">
                <span class="text-nunito">View demo</span>
            </a>
        </div>
    </div>
    <div class="border-t border-b border-black"></div>
</div>
<div class="max-w-3xl mx-auto py-8 px-4 lg:px-0">
    <div class="p-4 relative">
        <h6 class="font-roboto text-xl mt-4 mb-2">Diving into our Infrustructure Choices</h6>
        <div class="absolute bg-custom-red px-1 text-md border border-black top-0 left-0">
            Subheader 1
        </div>
        <p class="font-nunito text-md py-2">
            The infrastructure built for this project comprises a Raspberry Pi, an Eversys espresso machine, 
            and a custom web server. We chose the Raspberry Pi for its cost-effectiveness and versatility in 
            controlling the espresso machine's operations and managing data. The custom web server supports 
            real-time order processing and customer management. These choices were strategically made to keep 
            operational costs low, enhancing our financial sustainability. Additionally, the modular nature of 
            our setup allows for easy scalability with minimal investment, ensuring we can expand our services 
            efficiently as demand grows.
        </p>
        <p class="font-nunito text-md py-2">
            The way all these components interact with the espresso machine is through serial communication and the 
            Eversys API. The Eversys API is a dynamic link library, which was one of the reasons that led us to choose 
            to code in C#. A significant advantage of using C# was leveraging the Xamarin framework, allowing us to compile 
            natively for both iOS and Android. Our web framework is built with ASP.NET Core, complementing our other 
            infrastructure choices and ensuring a seamless integration across all platforms.
        </p>
    </div>
</div>
<div class="max-w-3xl mx-auto px-4 lg:px-0">
    <div class="p-4 relative">
        <h6 class="font-roboto text-xl mt-4 mb-2">How Everything Fits Together</h6>
        <div class="absolute bg-custom-red px-1 text-md border border-black top-0 left-0">
            Subheader 2
        </div>
        <p class="font-nunito text-md py-2">
            Now that we have a general understanding of the key components driving our automated espresso machine, let’s delve 
            deeper into the specifics of each element. This will help us undeerstand how they all fit into the bigger puzzle.
        </p>
        <div class="p-4 relative flex flex-col justify-start gap-4">
            <h6 class="font-roboto text-md border-b border-black w-fit">The App Code</h6>
        </div>
        <p class="font-nunito text-md px-4 py-2">
            The app code serves as the primary interface for our users. It features a dynamic cart system 
            that allows users to add, delete, and edit items in their order. Within this app, we define the various 
            coffee options available, along with any customization options. After users finalize their selections and the 
            order passes initial validation, it is then sent to our web server for processing. This streamlined interaction ensures 
            a user-friendly experience while maintaining the accuracy and efficiency of the order system.
        </p>
        <div class="p-4 relative flex flex-col justify-start gap-4">
            <h6 class="font-roboto text-md border-b border-black w-fit">The web server</h6>
        </div>
        <p class="font-nunito text-md px-4 py-2">
            Our web server plays a critical role in managing the coffee ordering process. It constructs a 
            coffee interface that not only builds orders but also maintains a state tracking system. This system monitors 
            the order’s progress—from confirmation to whether the espresso machine, controlled by the Raspberry Pi, 
            has begun making the coffee. Additionally, the server manages a JSON database where coffee options are 
            stored and updated. Once an order is confirmed, it is dispatched to the Raspberry Pi for execution.
        </p>
        <div class="p-4 relative flex flex-col justify-start gap-4">
            <h6 class="font-roboto text-md border-b border-black w-fit">Raspberry Pi</h6>
        </div>
        <p class="font-nunito text-md px-4 py-2">
            The Raspberry Pi serves as a crucial control hub in our coffee-making process. Its primary role is to 
            monitor for QR code scans that trigger the brewing process. Upon detecting a QR scan, the Raspberry Pi sends a 
            command via the serial port to the Eversys espresso machine, initiating the coffee preparation. Concurrently, 
            it controls a syrup pump, integrating any specified syrups into the coffee as per the order details. Once the coffee 
            is ready, the Raspberry Pi sends a confirmation signal back to the server, indicating that the order has been completed.
        </p>
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 pb-8 px-8 max-w-4xl mx-auto lg:px-0">
    <div class="border border-black flex flex-col justify-center items-center p-4">
        <img src="/static/images/navi_infrustructure.svg" alt="Infrastructure Diagram" height="400" width="400">
    </div>
    <div class="border border-l-0 border-black p-4">
        <p class="font-nunito text-md py-2">
            Here’s a visual breakdown of our automated espresso system's infrastructure. 
            It maps out the integration between the Raspberry Pi, our web server, and the espresso machine, 
            offering a glimpse into how we create every cup of coffee.
        </p>
    </div>
</div>
<div class="max-w-3xl mx-auto py-8 px-4 lg:px-0">
    <div class="p-4 relative">
        <h6 class="font-roboto text-xl mt-4 mb-2">Challenges we Encountered</h6>
        <div class="absolute bg-custom-red px-1 text-md border border-black top-0 left-0">
            Subheader 3
        </div>
        <p class="font-nunito text-md py-2">
            "It’s not that I’m so smart, it’s just that I stay with problems longer." - Albert Einstein
        </p>
        <div class="p-4 relative flex flex-col justify-start">
            <div class="grid grid-cols-[30px_minmax(0,1fr)]">
                <div class="border border-black flex justify-center items-center p-4 bg-custom-pink">
                    <h1 class="font-roboto">1</h1> 
                </div>
                <div class="border border-l-0 border-black p-4 flex flex-col justify-start">
                    <p class="font-nunito text-md">
                        No way to track the progress of differnt stages of the coffee making process.
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-[30px_minmax(0,1fr)]">
                <div class="border border-t-0 border-black flex justify-center items-center p-4 bg-custom-pink">
                    <h1 class="font-roboto">2</h1> 
                </div>
                <div class="border border-l-0 border-t-0 border-black p-4 flex flex-col justify-start">
                    <p class="font-nunito text-md">
                        Our qr code scanner is sending signals as individual key presses. 
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-[30px_minmax(0,1fr)]">
                <div class="border border-t-0 border-black flex justify-center items-center p-4 bg-custom-pink">
                    <h1 class="font-roboto">3</h1> 
                </div>
                <div class="border border-l-0 border-t-0 border-black p-4 flex flex-col justify-start">
                    <p class="font-nunito text-md">
                        The dyanmic link library is hard to read and needs a windows computer. 
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-[30px_minmax(0,1fr)]">
                <div class="border border-t-0 border-black flex justify-center items-center p-4 bg-custom-pink">
                    <h1 class="font-roboto">4</h1> 
                </div>
                <div class="border border-l-0 border-t-0 border-black p-4 flex flex-col justify-start">
                    <p class="font-nunito text-md">
                        Too many to keep track of. 
                    </p>
                </div>
            </div>
        </div>
        <div class="p-4 relative flex flex-col justify-start gap-4">
            <h6 class="font-roboto text-md border-b border-black w-fit">Solution #1</h6>
        </div>
        <p class="font-nunito text-md px-4 py-2">
            The challenge with the caramel syrup pump was a messy one. It continually dispensed syrup without stopping, 
            leading to both wastage and a messy work environment. To address this, we designed a state machine that was 
            integrated into our system's web server. The state machine monitored the different stages 
            of the coffee-making process, ensuring that syrup was dispensed only at the correct step. Not only did this solution 
            fix the overflow issue, but it also introduced a valuable feature: the ability to lock an espresso machine to a single 
            order, effectively preventing the possibility of double-scanning a coffee. 
        </p>
        <div class="p-4 relative flex flex-col justify-start gap-4">
            <h6 class="font-roboto text-md border-b border-black w-fit">Solution #2</h6>
        </div>
        <p class="font-nunito text-md px-4 py-2">
            Our next challenge emerged during the integration of the QR code scanner. We had initially coded a Python 
            script to interact with the scanner; however, it failed to function as expected. The issue stemmed from our 
            lack of knowledge about the appropriate scanner model to purchase. The model we acquired sent responses in 
            the form of key presses, which our system could not interpret correctly. To resolve this, we had to modify 
            and rewrite our scanner code, enabling it to translate these key presses into meaningful commands within our 
            order processing system.
        </p>
        <div class="p-4 relative flex flex-col justify-start gap-4">
            <h6 class="font-roboto text-md border-b border-black w-fit">Solution #3</h6>
        </div>
        <p class="font-nunito text-md px-4 py-2">
            Although we never fully implemented this third solution, the idea was to overhaul the communication protocol by recoding the 
            existing dynamic link library (DLL) in Python. The goal was to utilize byte manipulation to simplify the API, making it more 
            robust and easier to maintain. This would have allowed us to have more granular control over the hardware interactions, potentially 
            leading to even more precise control and diagnostics capabilities across the system.
        </p>
        <div class="p-4 relative flex flex-col justify-start gap-4">
            <h6 class="font-roboto text-md border-b border-black w-fit">Solution #4</h6>
        </div>
        <p class="font-nunito text-md px-4 py-2">
            The journey through this project was rife with challenges, each pushing our team's capabilities and creativity. We kept 
            iterating through each obstacle, and although it was hard we perservered to develop version 1. We may never have gotten the 
            silicon valley funding we hoped for but the wealth of knowledge and practical experience we gained is invaluable, proving that 
            every challenge is a stepping stone to greater expertise.
        </p>
    </div>
</div>
<div class="w-full border-t border-b border-black p-4 relative flex justify-center bg-custom-pink">
    <h1 class="font-vt text-3xl md:text-4xl lg:text-5xl sm:text-lg">Thanks for reading!</h1>
</div>