@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
    /* Font sizes with responsive clamping */
    /* Font sizes with responsive clamping */
    --fs-700: clamp(3.2rem, 5vw + .7rem, 5.2rem);
    --fs-600: clamp(2.8rem, 4.5vw + .7rem, 5.2rem);
    --fs-500: clamp(2.3rem, 3.6vw + .7rem, 4.2rem);
    --fs-400: clamp(1.8rem, 3.2vw + .7rem, 3.3rem);
    --fs-300: clamp(1.5rem, 2.7vw + .7rem, 2.5rem);
    --fs-200: clamp(1.3rem, 2.3vw + .7rem, 2.2rem);
    --fs-100: clamp(1rem, 1.8vw + .7rem, 1.6rem);

    /* Font families */
    --fs-roboto: 'Roboto', sans-serif; /* Add this line */
    --fs-nunito: 'Nunito', sans-serif; /* Add this line */
    --fs-vt323: 'VT323', sans-serif; /* Add this line */

    /* Line heights */
    --lh-xl: 5rem;
    --lh-l: 2rem;
    --lh-m: 1.5rem;
    --lh-s: 1rem;

    /* Other styles */
    --standard-space: 6rem; /* Assuming a typo in your original CSS */
    --fs-black: #1E1E1E;
    --fs-red: #FD4324;
    --fs-pink: #FFEFFD;

}
body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.no-whitespace {
    white-space: nowrap;
}
.font-roboto {
    font-family: var(--fs-roboto);
}
.font-nunito {
    font-family: var(--fs-nunito);
}
.font-vt {
    font-family: var(--fs-vt323), monospace;
    font-weight: 400;
    font-style: normal;
}
.bg-black {
    background-color: var(--fs-black);
}
.color-black {
    color: var(--fs-black);
}
.bg-custom-red {
    background-color: var(--fs-red);
}
.bg-custom-pink {
    background-color: var(--fs-pink);
}

#nav {
    background-color: #F7F7F7;
}

.grid-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
    overflow: hidden;
}
.main-content {
    display: grid;
    grid-template-rows: 6rem 1fr;
}
.main-display {
    position: relative;
    height: calc(100% - 2rem); /* account for margin */
    width: calc(100% - 2rem); /* account for margin */
    margin: 1rem;
    overflow: hidden; /* Ensures no spillover */
}
.myworks-content {
    border-left: 1px solid var(--fs-black);
    padding: 3rem;
}
.project-list {
    font-size: var(--fs-200);
    margin-top: 6.4rem;
}
.project-list p {
    font-size: var(--fs-200);
}
.project-item {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: baseline;
    border-bottom: 1px solid var(--fs-black);
    margin: 1rem 0rem 1rem 0rem;
}
.nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: var(--fs-300);
    height: 100%;
    border-bottom: 1px solid var(--fs-black);
}

@keyframes colorChangeProject1 {
    0% {
        color: var(--fs-black); /* Start color */
        transform: scale(1);
    }
    50% {
        color:black; /* Intermediate color */
        transform: scale(1.5);
    }
    100% {
        color: var(--fs-black); /* E color */
        transform: scale(1);
    }
}

@keyframes colorChangeProject2 {
    0% {
        color: var(--fs-black); /* Start color */
        transform: scale(1);
    }
    50% {
        color: #6ee7ff; /* Intermediate color */
        transform: scale(1.5);
    }
    100% {
        color: #1D71C2; /* End color */
        transform: scale(1);
    }
}
@keyframes colorChangeProject3 {
    0% {
        color: var(--fs-black); /* Start color */
        transform: scale(1);
    }
    50% {
        color: #00bbff; /* Intermediate color */
        transform: scale(1.5);
    }
    100% {
        color: #3121C1; /* End color */
        transform: scale(1);
    }
}

@keyframes colorChangeProject4 {
    0% {
        color: var(--fs-black); /* Start color */
        transform: scale(1);
    }
    50% {
        color: #bd15ff; /* Intermediate color */
        transform: scale(1.5);
    }
    100% {
        color: #6a0d87; /* End color */
        transform: scale(1);
    }
}
.grow-and-color-change-project1 {
    display: inline-block;
    animation: colorChangeProject1 0.1s forwards;
    transform-origin: center center;
}

.grow-and-color-change-project2 {
    display: inline-block;
    animation: colorChangeProject2 0.1s forwards;
    transform-origin: center center;
}
.grow-and-color-change-project3 {
    display: inline-block;
    animation: colorChangeProject3 0.1s forwards;
    transform-origin: center center;
}

.grow-and-color-change-project4 {
    display: inline-block;
    animation: colorChangeProject4 0.1s forwards;
    transform-origin: center center;
}
.span-wrap:hover {
    cursor: pointer;
}
#navbar-icon {
    transform: translateY(4px);
}
.popup-box {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1000; /* Ensure it's on top of other elements */
    max-width: 320px;
    white-space: normal; /* Allow wrapping */
}
.popup-box img {
  max-width: 320px;
}

.sidebar-icon-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    position: relative;
}

#popup-sidebar {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1000; /* Ensure it's on top of other elements */
    max-width: 320px;
    white-space: normal; /* Allow wrapping */
    top: 0;
    left:-10rem;
}

.main-icon {
    position: absolute;
    bottom: 1rem;
    right: 0rem;
}

#project-info {
    margin-left: calc(84px + 2rem);
    margin-right: 2rem;
    transform: translateY(1rem);
}
.project-intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    flex: 1 auto;
}
.project-body-text {
    font-weight: 100;
}
.project-section {
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.project-details-style-one {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top:1rem;
}
.footer {
    padding: 12rem 0rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer .contents {
    max-width: 1440px;
    width: 80vw;
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(2, 1fr);
}
.card-container {
    position: relative;
    max-width: 350px;
}
.footer .card {
    position: relative;
    width:100%;
    height: 100%;
    border: solid 1px black;
    background-color: #FFF;
    z-index: 2 !important;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
@keyframes moveOut {
    from {
        opacity: 0;
        transform: translateX(0px) translateY(0px);
    }
    to {
        opacity: 1;
        transform: translateX(50px) translateY(50px);
    }
}
.footer .card-2 {
    opacity: 0;
    border: solid 1px black;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #FFF;
}
.start-animation {
    animation: moveOut 1s forwards;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.navbar {
    height: 6rem;
}
.challenge {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.contact-form button {
    background-color: black;
    color: white;
    border: 0;
    padding: 1rem;
}

#banner-left {
    bottom: 0px;
    left: 0;
    width: calc(100vw - 71px);
    transform: rotate(-90deg)   
    translateY(100%);
    transform-origin: left bottom;
    z-index: 3;
    background-color: inherit;
    position: absolute;
    padding: 0;
    overflow: hidden;
    background-color: #FFEFFD!important;
    height: 40px;
    font-size: 1.6rem;
}
#js-marquee-wrapper {
    width: 100000px;
    display: flex;
}
.marquee-default {
    background-color: #FFEFFD!important;
    height: 40px;
    font-size: 1.6rem;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.purple-code { color: #c678dd; }  /* 'def' and other keywords */
.blue-code { color: #56b6c2; }   /* Function names, return, if, else, etc. */
.green-code { color: #98c379; }  /* String literals */
.red-code { color: #e06c75; }    /* 'self' keyword */
.orange-code { color: #d19a66; } /* Special methods or important variables */

@keyframes fill_out_box {
    0% {
        width: 5px;
    }
    100% {
        width: 100%;
    }
}

.fill_out_box {
    animation: fill_out_box .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.bg-build-white {
    background-image: url('/static/images/build-white.svg');
    background-position: center 0;
    background-size: 56px 56px;
}
#pixel-layout {
    grid-template-columns: repeat(18, 28px);
    grid-template-rows: repeat(18, 28px);
}

