{% block webpage %}
<div class="navbar">
    {% component nav %}
</div>
<div class="footer">
    <div class="contents">
        <div>
            <h2 class="font-league">You can contact me!</h2>
            <p class="font-now-reg">
                Feel free to get in touch with me! Would love to talk about any 
                oppourtunties or if you are just intersting in learnign more about me. 
                My email is danielvgrinevich@gmail.com and my phone number is 
                (336) 782-0109. 
            </p>
        </div>
        {% component contactform %}
    </div>
</div>
{% endblock webpage %}