<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Please Hire Me Framework</title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <script src="https://unpkg.com/htmx.org@1.9.10"
                integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
        <script type="text/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js"></script>
    </head>
    <body>
        {% block webpage %}
        {% endblock webpage %}
    </body>
    <script src="/static/js/frag.js"></script>
    <script src="/static/js/canvas.js"></script>
    <script src="/static/js/projectAnimation.js"></script>
</html>
